/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-container{
	width: 1160px;
	margin: 0 auto;
	@include sp{
		width: 100%;
	}
}