/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title01{
	text-align: center;

	//--------------------------------------------------------
	&__ttl{
		font-size: 2.4rem;
		font-weight: bold;
		@include mincyo;
		@include sp{
			font-size: 2rem;
		}
	}

	//--------------------------------------------------------
	&__txt{
		font-size: 2rem;
		font-family: "Times New Roman", Times, serif;
		color: #999999;
		@include sp{
			font-size: 1.5rem;
		}
	}
}

/*
------------------------------------------------------------*/
.c-title02{

	//--------------------------------------------------------
	&__sub{
		font-size: 1.3rem;
		margin-bottom: 4px;
		position: relative;
		color: #888888;
		span{
			font-size: 1.1rem;
			color:#fff;
			display: inline-block;
			background-color: #bd0000;
			padding: 3px 15px 3px 14px;
			font-family: Arial, Helvetica, sans-serif;
			margin-left: 10px;
		}
	}

	//--------------------------------------------------------
	&__title{
		font-size: 1.8rem;
		font-weight: bold;
	}
}