/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-imgtext1{
	width: 370px;

	//--------------------------------------------------------
	&__img{
		width: 370px;
		img{
			width: 100%;
		}
	}

	//--------------------------------------------------------
	&__text{
		font-size: 1.3rem;
		@include mincyo;

	}

	//--------------------------------------------------------
	&__title{
		font-size: 1.6rem;
		font-weight: bold;
		line-height: 1;
		margin: 15px 0 7px;
		@include sp{
			margin: 10px 0;
		}
	}
}

/*
------------------------------------------------------------*/
.c-imgtext2{
	position: relative;

	//--------------------------------------------------------
	&__img{
		width: 370px;
		@include sp{
			margin: 0 auto;
			width: 100%;
			max-width: 414px;
		}
		img{
			width: 100%;
		}
	}

	//--------------------------------------------------------
	&__text{
		margin-left: 27px;
		flex:1;
		color: #000;
		@include sp{
			margin-left: 0;
			max-width: 414px;
			margin: 0 auto;
			margin-top: 20px;
		}
	}

	//--------------------------------------------------------
	&__txt{
		font-size: 1.6rem;
		line-height: 1.8;
	}

	//--------------------------------------------------------
	a{
		display: flex;
		border-top: 1px solid #000;
		padding: 30px 0;
		position: relative;
		color: #000;
		text-decoration: none;
		@include sp{
			padding: 20px 10px;
			display: block;
		}
	}

	//--------------------------------------------------------
	&:before {
		content: '';
		position: absolute;
		display: block;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background-color: #888888;
		top: 46%;
		right: 45px;
		@include sp{
			content: none;
		}
	}

	//--------------------------------------------------------
	&:after{
		content: '';
		position: absolute;
		width: 7px;
		height: 7px;
		border-top: 3px solid #fff;
		border-right: 3px solid #fff;
		transform: rotate(45deg);
		top: 48.5%;
		right: 53px;
		@include sp{
			content: none;
		}
	}
}