/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1{
	display: flex;
	flex-wrap: wrap;
	@include sp{
		width: 100%;
		padding: 10px;
	}

	//--------------------------------------------------------
	.c-imgtext1{
		margin: 0 25px 20px 0;
		@include sp{
			width: 49%;
			margin-right: 0;
			margin-bottom: 20px;
			&__img{
				width: 100%;
			}
		}
		&:nth-child(3n){
			margin: 0 0 25px 0;
		}
		&:nth-child(2n+1){
			@include sp{
				margin-right: 2%;
			}
		}
	}
}