/*------------------------------------------------------------
p-home
------------------------------------------------------------*/
.p-home{
	padding: 92px 0;
	@include sp{
		padding: 25px 0;
	}

	//--------------------------------------------------------
	.mb0{
		margin-bottom: 12px;
		@include sp{
			margin-bottom: 10px;
		}
	}

	//--------------------------------------------------------
	.mr0{
		margin: 47px 0 64px;
		@include sp{
			margin: 10px 0;
		}
	}

	//--------------------------------------------------------
	.mt0{
		margin-top: 42px;
		@include sp{
			margin-top: 20px;
		}
	}
}